@font-face {
    font-family: 'Lekton';
    src: url('/fonts/Lekton/Lekton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lekton';
    src: url('/fonts/Lekton/Lekton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lekton';
    src: url('/fonts/Lekton/Lekton-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }